MONGO_INITDB_ROOT_USERNAME="admin"
MONGO_INITDB_ROOT_PASSWORD="admin"
MONGO_INITDB_DATABASE="ayomi"
MONGO_HOST="mongo.ayomi-network"
STORAGE_URI="mongodb://$MONGO_INITDB_ROOT_USERNAME:$MONGO_INITDB_ROOT_PASSWORD@$MONGO_HOST:27017/$MONGO_INITDB_DATABASE?authSource=admin"
